#btn{
    width: 40%;
    float: right;
    margin-top: -16%;
}

.miring{
    color: #CE0000;
    font-style: italic;
    margin-top: -5%;
    font-size: 90%;
}

.set{
    background-color: #FFE0D8;
    border-radius: 10px;
    padding: 3%;
    margin-right: 10%;
}

.set2{
    background-color: #FFE0D8;
    border-radius: 10px;
    padding: 3%;
    margin-top: 5%;
    margin-right: 10%;
}

.profil {
    margin-left: 13px;
    width: 80%;
}

.card{
    padding: 2%;
}

.nama{
    margin-left: 0%;
}

#btn1{
    background-color: white;
    color: #FF8B6A;
    border: 1px solid #FF8B6A;
    margin-left: -10%;
    width: 60%;
}

#btn1:hover{
    background-color: #FF8B6A;
    color: white;
}